.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--prp-bg-tertiary);
  border-radius: 8px 0 0 8px;

  .form-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--prp-text-secondary);
  }

  .form-header-inner {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    //keep this even its not used in project (it can be used in other projects)
    .export-button,
    .import-button {
      padding: 0.5rem 1rem;
      border: 1px solid var(--prp-border-primary);
      border-radius: 4px;
      background-color: var(--prp-bg-secondary);
      color: var(--prp-text-secondary);
      font-size: 0.875rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--prp-bg-tertiary);
        border-color: var(--prp-border-primary);
      }
    }
  }

  &.dark-theme {
    background-color: var(--prp-bg-primary);
    box-shadow: none;

    .form-title {
      color: var(--prp-text-primary);
    }

    .form-actions {
      .export-button {
        background-color: var(--prp-bg-primary);
        border-color: var(--prp-bg-primary);
        color: var(--prp-text-primary);

        &:hover {
          background-color: var(--prp-bg-primary);
          border-color: var(--prp-bg-primary);
          opacity: 0.9;
        }
      }

      .import-button {
        .import-label {
          background-color: var(--prp-bg-primary);
          border-color: var(--prp-bg-primary);
          color: var(--prp-text-primary);

          &:hover {
            background-color: var(--prp-bg-primary);
            border-color: var(--prp-bg-primary);
            opacity: 0.9;
          }
        }
      }
    }
  }
}
