@font-face {
  font-family: 'icons';
  src: url('../assets/generated/svgfont/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-create:before {
  content: '\ea01';
}

.icon-pencil:before {
  content: '\ea02';
}

.icon-search:before {
  content: '\ea03';
}

.icon-trash:before {
  content: '\ea04';
}
