@import './base/variables';
@import './layout';
@import './sidebar';
@import './form';
@import './list';
@import './login';
@import './error-boundary';
@import './counter';
@import './loading-screen';
@import './pagination';
@import './filter-popup';
@import './components/uploader.scss';
@import './components/checkbox';
@import './components/form-header';
@import './components/button';
@import './details';
@import './dashboard';
//TODO: import deprecated
.layout {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  overflow: hidden !important;
  background-color: var(--prp-bg-primary);
  color: var(--prp-text-primary);
  a {
    color: var(--prp-text-primary);

    &:hover,
    &:active {
      color: var(--prp-text-primary);
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
.icon {
  width: 14px;
  height: 14px;
  stroke: currentColor;
  fill: currentColor;
  &.icon-true {
    width: 20px;
    height: 20px;
    stroke: var(--prp-bg-button-success);
    fill: none;
  }
  &.icon-false {
    width: 20px;
    height: 20px;
    stroke: var(--prp-color-error);
    fill: none;
  }
}
