@use './layout';
// Imported styles will be scoped under .layout
@use './sidebar';
@use './form';
@use './list';
@use './login';
@use './error-boundary';
@use './image-uploader';
@use './counter';
@use './loading-screen';
@use './pagination';
@use './filter-popup';

.layout {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  overflow: hidden !important;
  a {
    color: white;

    &:hover,
    &:active {
      color: white;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
.icon {
  width: 14px;
  height: 14px;
  stroke: currentColor;
  fill: currentColor;
}
