@forward './sidebar';
@forward './form';
@forward './layout';
@forward './list';
@forward './login';
@forward './error-boundary';
@forward './image-uploader';
@forward './counter';
@forward './loading-screen';

.layout{
  a {
    color: white;

    &:hover,
    &:active {
      color: white;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
